<div>
    <script type = 'text/template' id = 'load-tasks'>
        <div class = 'project task'>
            <div class = 'project-div'>
                <a href = '#' class = 'task-name'><h3>{{=taskName}}</h3></a>
            </div>
            <div class = 'project-div'>
                <img src = 'images/118.png' class = 'slider'>
            </div>
            <div class = 'project-div task'>
                <p>{{=dueDate}}</p>
            </div>
            <div class = 'project-div task'>
                <p class = 'status-task'>{{=status}}</p>
            </div>
            <div class = 'project-div cancel'>
                <img src = 'images/cancel.png' class = 'cancel task'>
            </div>
        </div>
    </script>
</div>